data/
__pycache__/
.venv/
catalog.ipynb
*.pt
ML/autoencoder/checkpoints/
ML/autoencoder/logs/
checkpoints_cvae
logs_cvae
ML/diffusion/embeddings/*
ML/diffusion/checkpoints/*
ML/diffusion/logs/*
data.zip
ML/diffusion/runs/diffusion/*
ML/autoencoder/runs/diffusion/*
ML/diffusion/runs/diffusion_stft/*